.container--deals {
  color: #ffffff;
  text-align: left;
  justify-content: center;
  padding-left: 10px;
}

.container--shelfTitle {
  text-align: center;
  font: normal normal bold 20px/12px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-top: 3.5rem;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  padding-top: 3.5em;
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  font: normal normal normal 14px/25px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  max-width: 46.25em;
}

.container--question .headingLevel1{
  text-align: center;
  font: normal normal bold 16px/12px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.container--allRights {
  text-align: center;
  font: normal normal bold 10px/14px Nunito Sans;
  letter-spacing: 0px;
  color: #847B91;
  opacity: 1;
}
.container--pagamentos {
  text-align: left;
  font: normal normal bold 16px/55px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  justify-content: flex-start;
}

.paragraph--notBar{
  align-items:center !important;
}

.paragraph--notBar::after{
  content: "";
  white-space: pre-wrap;
  border: solid #2CFFF5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  margin-left: 10px;
}

.container--notBar{
  background-color: #000000;
  color: #ffffff;
  justify-content: center;
  align-items: center;                                                       
}

.italic--notBar{
  font-style: normal;
  color: #2cFFF5;
}

.strong--notBar .italic--notBar{
  font: normal normal 900 22px/12px Nunito Sans;
  color: #2cFFF5; 
}

.paragraph--selecioneMenu{
  font: normal normal bold 14px/31px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin: 0;
}

.wrapper--aMarca{
  text-align: left;
  font: normal normal bold 12px/31px Nunito Sans;
  letter-spacing: 0px;
  color: #4F32FE;
  opacity: 1;
}

.wrapper--text-aboutUs{
  text-align: center;
  font: normal normal normal 14px/25px Nunito Sans;
  letter-spacing: 0.7px;
  color: #000000;
  opacity: 1;
}

@media only screen and (min-width:1026px){
  .container--titulo-aboutUs{
    display: initial;
  }
  .wrapper--text-aboutUs{
    text-align:left;
  }
  }

.wrapper--titulo-aboutUs{
  text-align: left;
  font: normal normal bold 20px/31px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.wrapper--titulo-menu-drawer{
  text-align: left;
  font: normal normal bold 20px/30px Nunito Sans;
  letter-spacing: 0px;
  color: #17100D;
  opacity: 1;
  padding-left: 1rem;
}

.container--search-text{
  max-width: 46.25rem;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.wrapper--search-text{
  text-align: center;
  font: normal normal normal 14px/25px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}