@media only screen and (max-width: 768px) {
  .menuItem--menu-item {
    text-align: left;
    font: normal normal normal 16px/40px Nunito Sans;
    letter-spacing: 0px;
    color: #17100D;
    background: #F6F5F8 0% 0% no-repeat padding-box;
    border-bottom: 1px solid #e4ddee;
    opacity: 1;
    min-width: 22em;
    min-height: 46.5px;
  }
}

.menuItem--menu-item{
  align-self: center;
}

.menuContainer--menu-item{
  gap: 2.5rem;
}

.styledLinkContainer--menu-item:hover{
  border-bottom: 2px solid #4f32fe
}

@media only screen and (min-width: 768px) {
  .styledLinkContent--menu-item {
    text-align: left;
    font: normal normal 600 15px/12px Nunito Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: auto;
    align-items: center;
  }

  .styledLinkContainer--menu-item, .styledLinkContent--menu-item-saldao{
    margin: 0 1.25rem;
  }

  .styledLinkContent--menu-item-saldao{
    text-align: left;
    font: normal normal 800 15px/12px Nunito Sans;
    letter-spacing: 0px;
    color: #4F32FE;
    opacity: 1;
    margin: auto;
    align-items: center;
  }
}

.menuItem--menu-footer-mobile {
  justify-content: flex-start;
}

.styledLinkContent--menu-footer-mobile {
  text-align: left;
  font: normal normal 600 15px/12px Nunito Sans;
  letter-spacing: 0px;
  color: #17100D;
  opacity: 1;
  background-color: #f6f5f8;
  min-height: 3em;
  align-items: center;
  padding-left: 1em;
}

.menuItemInnerDiv--menu-footer-mobile :global(.vtex-menu-2-x-styledLinkContainer--menu-footer-mobile) {
  min-width: 26em;
  max-width: none;
  margin: 0;
  padding: 0;
}

.accordionIcon--menu-footer-mobile {
  display: none;
}


@media only screen and (max-width: 768px) {
  .menuItem--menu-footer-inner {
    background-color: #fcfcfc;
    border-bottom: 1px solid #f6f5f8;
    min-width: 768px;
    height: 50px;
  }

  .styledLinkContent--menu-footer-inner {
    align-items: center;
    text-align: left;
    font: normal normal normal 14px/50px Nunito Sans;
    letter-spacing: 0px;
    opacity: 1;
    color: #847B91;
  }
}
.styledLinkContent--menu-footer-inner {
  text-align: left;
  font: normal normal normal 14px/25px Nunito Sans;
  letter-spacing: 0px;
  color: #847B91;
  opacity: 1;
}

.styledLinkContent--menu-footer-desk-title{
  text-align: left;
  font: normal normal bold 16px/55px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.menuItem--menu-item-inner-desk{
  max-height: 2.5rem;
  min-width: 15rem;
}
.menuItem--menu-item-inner-desk:hover{
  background-color: #f6f5f8;
}

.styledLinkContent--menu-item-inner-desk{
  text-align: left;
  font: normal normal normal 14px/5px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  bottom: 1rem;
}
.styledLinkContent--menu-item-inner-desk:hover{
  text-align: left;
  font: normal normal bold 14px/5px Nunito Sans;
  letter-spacing: 0px;
  color: #4F32FE;
}

.submenuWrapper--subEletro--isOpen{
  left: 14.9rem;
  top: -2.54rem;
  background-color: #f6f5f8;
}