.notificationBarContainer {
  background-color: #000000;
  color: #2cfff5;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer--searchBarDesktop {
  background-color: #ffffff;
  font: normal normal bold 14px/12px;
  min-width: 898px;
}

.searchBarIcon--searchBarDesktop{
  fill: currentColor;
  color: #4f32fe
}

.searchBarIcon--searchBarMobile{
  fill: currentColor;
  color: #ffffff
}

.searchBarContainer--searchBarMobile {
  background-color: #4F32FE;
  font: normal normal bold 14px/12px;
  color: #ffffff;
  height: 38px;
}


.searchBarInnerContainer--searchBarMobile :global(.vtex-styleguide-9-x-input){
  background-color: #4F32FE;
  height: fit-content;
  color: #fff;
}
.searchBarInnerContainer--searchBarMobile :global(.vtex-styleguide-9-x-input)::placeholder{
  background-color: #4F32FE;
  font: normal normal 700 14px/12px;
  color: #ffffff;
}
.searchBarInnerContainer--searchBarMobile :global(.vtex-store-components-3-x-container){
  padding-right: 0px;
  padding-left: 0px;
}


.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.logoImage{
  padding-top: 12px;
}

.label--newsletter::before{
  content: "Quer ficar por dentro de tudo?\A\A";
  text-align: center;
  font: normal normal bold 20px/12px Nunito Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  white-space: pre-wrap;
}

.label--newsletter::after{
  text-align: center;
  font: normal normal normal 14px/20px Nunito Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.label--newsletter{
  text-align: center;
  font: normal normal normal 14px/20px Nunito Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
@media only screen and (max-width:768px){
  .inputGroup--newsletter{
    flex-direction: column;
  }
}
.container--newsletter{
  background: #4F32FE 0% 0% no-repeat padding-box;
  opacity: 1;
  align-items: center;
  max-height: 19em;
  width: 100%;
}

.inputGroup--newsletter :global(.vtex-input-prefix__group){
  background: rgba(0, 0, 0, 0.15) 0% 0% no-repeat padding-box;
  border-radius: 29px;
  border: none;
}

.buttonContainer--newsletter{
  text-align: center;
  font: normal normal 900 14px/30px Nunito Sans;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

:global(.vtex-store-components-3-x-newsletter){
  background-color: #4f32fe;
  max-width: none;
}

.container--menuRow{
  padding: 0;
}

.imageElement--socialNetwork{
  width: 23px;
  height: 23px;
}

.swiperPaginationClickable{
  margin-top:2em;
  position: relative;
}

.swiperBullet{
  margin: 0 1em !important;
}

.productNameContainer--quickview{
  text-align: center;
}

.productBrand{
  text-align: center;
  font: normal normal normal 18px/3px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.product-identifier--productReference{
  text-align: left;
  font: normal normal 600 12px/55px Nunito Sans;
  letter-spacing: 0px;
  color: #847B91;
  opacity: 1;
}
