.sliderLayoutContainer--carousel-destaque {
  justify-content: center;
  max-width: 78.75rem;
  margin: 0 auto;
}

@media only screen and (min-width: 768px){
.sliderTrack--carousel{
  background-color: #000000;
}

.slide--carousel--firstVisible{
  width: auto!important;
}
}

.sliderTrackContainer {
  max-width: 1520px;
}
.sliderTrackContainer--carousel {
  max-width: none;
}

.paginationDotsContainer--carousel {
  bottom: -1em;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.paginationDotsContainer--shelf {
  bottom: 1em;
  margin-top: 1rem;
  margin-bottom: .5rem;
  gap: 2rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}

:global(.vtex-shelf-1-x-relatedProducts-title ){
  display: none;
}

.sliderRightArrow{
  background-color: white!important;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 3px 6px #4F32FE11;
  position: absolute;
  top: 140px;
  right: -30px;
}

.sliderLeftArrow{
  background-color: white!important;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 3px 6px #4F32FE11;
  position: absolute;
  top: 140px;
  left: -30px;
}

.caretIcon--shelf{
  color: #4f32fe;
}