.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

.flexRow--main-header{
  max-width: 1920px;
}


@media screen and (min-width: 40em) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

@media screen and (max-width: 768px) {
  .flexCol--deals {
    display: none;
  }
}

.flexRowContent--menu-link {
  background-color: #ffffff;
  color: #fff;
  align-items: center;
}

.flexRowContent--main-header {
  background-color: #ffffff;
  align-items: center;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #ffffff;
  height: 55px;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: #4F32FE;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRowContent--searchBarMobile {
  max-height: 38px;
  background-color: #4F32FE;
}

.flexRow--searchBarMobile :global(.vtex-store-components-3-x-container) {
  padding-right: 0px;
  padding-left: 0px;
}

.flexRow--searchBarMobile :global(.vtex-input__suffix) {
  background: transparent;
  height: fit-content;
}

.flexRow--searchBarMobile :global(.vtex-input-prefix__group) {
  border: 0;
}


.flexCol--searchBar {
  justify-content: center;
  margin: 0 auto;
  max-width: initial !important;
}

.flexCol--loginCart {
  flex-direction: row;
}

.flexColChild--searchBarDesktop :global(.vtex-store-components-3-x-searchBarContainer) {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.flexCol--searchBarDesktop :global(.vtex-input-prefix__group) {
  border: none;
  border-bottom: 1px solid #e4ddee;
}

.flexRow--linhaPreco {
  max-height: 10%;
}


@media screen and (max-width: 768px) {
  .flexRowContent--banners {
    display: grid;
    grid-template-columns: 180px 180px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    padding-top: 30px;
    padding-left: 1.25rem;
  }
}

.flexRow--drones100 {
  padding-top: 3.5em;
}

.flexRow--payment-methods {
  padding: 0;
  background-color: #f6f5f8;
  flex-direction: column;
}

.flexRow--badges1 {
  border-bottom: 1px solid #e4ddee;
  padding-bottom: 30px;
}

.flexRowContent--payment {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  justify-content: center;
  padding: 20px 0px;
}

.flexCol--payment-methods {
  flex-direction: column;
}


.flexRowContent--badges1 {
  display: grid;
  grid-template-columns: 120px 48px 67px;
  grid-column-gap: 10px;
  justify-content: center;
}
.flexRowContent--socialNetworks {
 width: 50%;
}

.flexRow--socialNetworks :global(.vtex-flex-layout-0-x-flexRow){
  border: none;
}

@media screen and (max-width: 768px) {
  .flexRowContent--socialNetworks {
    display: grid;
    grid-template-columns: 30px 30px 30px;
  }

  .flexRow--socialNetworks {
    padding-top: .5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e4ddee;
  }

  .flexRowContent--socialNetworks {
    width: 100%;
   }
   
}

.flexRowContent--avantiVTEX {
  display: grid;
  grid-template-columns: 91px 77px;
  justify-content: center;
}

.flexRowContent--payment-methods-desktop {
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: 1fr 1fr;
  justify-content: flex-start;
}

.flexRow--menu-row {
  padding-bottom: 2em;
  border-bottom: 1px solid #e4ddee;
}

.flexRowContent--badgesDesktop {
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

.flexCol--infoProduct{
  text-align:center;
}

.flexColChild--infoProduct{
  margin: 0 auto;
}

.flexColChild--infoProduct :global(.vtex-store-components-3-x-shippingContainer){
  display: flex;
  flex-direction:row;
}
.flexColChild--infoProduct :global(.vtex-button){
 background:none;
 border: none;
}

.flexRow--previewButton :global(.vtex-button){
  background: #4F32FE;
  border-color: #4F32FE;
  border-radius: 27px;
  width: 378px;
  height: 53px;
  text-transform: none;
}
