.container--deals {
  color: #ffffff;
  text-align: left;
  justify-content: center;
  padding-left: 10px;
}

.container--shelfTitle {
  text-align: center;
  font: normal normal bold 20px/12px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding-top: 30px;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  padding-top: 3.5em;
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  font: normal normal normal 14px/25px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  max-width: 46.25em;
}

.container--question .headingLevel1{
  text-align: center;
  font: normal normal bold 16px/12px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.container--allRights {
  text-align: center;
  font: normal normal bold 10px/14px Nunito Sans;
  letter-spacing: 0px;
  color: #847B91;
  opacity: 1;
}
.container--pagamentos {
  text-align: left;
  font: normal normal bold 16px/55px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  justify-content: flex-start;
}

.container--notBar{
  background-color: #000000;
  color: #ffffff;
  justify-content: center;
  align-items: center;                                                       
}

.italic--notBar{
  font-style: normal;
  color: #2cFFF5;
}

.strong--notBar .italic--notBar{
  font: normal normal 900 22px/12px Nunito Sans;
  color: #2cFFF5; 
}