.notificationBarContainer {
  background-color: #000000;
  color: #2cfff5;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

.searchBarContainer--searchBarDesktop {
  background-color: #ffffff;
  font: normal normal bold 14px/12px;
  min-width: 56.15rem;
  padding: 0;
}

.searchBarIcon--searchBarDesktop{
  fill: currentColor;
  color: #4f32fe
}

.searchBarIcon--searchBarMobile{
  fill: currentColor;
  color: #ffffff
}

.searchBarContainer--searchBarMobile {
  background-color: #4F32FE;
  font: normal normal bold 14px/12px;
  color: #ffffff;
  height: 38px;
}


.searchBarInnerContainer--searchBarMobile :global(.vtex-styleguide-9-x-input){
  background-color: #4F32FE;
  height: fit-content;
  color: #fff;
}
.searchBarInnerContainer--searchBarMobile :global(.vtex-styleguide-9-x-input)::placeholder{
  background-color: #4F32FE;
  font: normal normal 700 14px/12px;
  color: #ffffff;
}
.searchBarInnerContainer--searchBarMobile :global(.vtex-store-components-3-x-container){
  padding-right: 0px;
  padding-left: 0px;
}


.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 1026px) {
  .newsletter .container {
    padding: 100px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer--quickview {
  text-align: left;
  font: normal normal normal 20px/15px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1
}

.productImage{
  background: #f6f5f8;
}

.productImageTag{
  mix-blend-mode: multiply;
}

.logoImage{
  max-width: 6.15rem;
}

.logoLink{
  max-width: 98.4px;
}

.label--newsletter::before{
  content: "Quer ficar por dentro de tudo?\A\A";
  text-align: center;
  font: normal normal bold 20px/12px Nunito Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  white-space: pre-wrap;
}

.label--newsletter::after{
  text-align: center;
  font: normal normal normal 14px/20px Nunito Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.label--newsletter{
  text-align: center;
  font: normal normal normal 14px/20px Nunito Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
@media only screen and (max-width:768px){
  .inputGroup--newsletter{
    flex-direction: column;
  }
}
.container--newsletter{
  background: #4F32FE 0% 0% no-repeat padding-box;
  opacity: 1;
  align-items: center;
  max-height: 19em;
  width: 100%;
}

.inputGroup--newsletter :global(.vtex-input-prefix__group){
  background: rgba(0, 0, 0, 0.15) 0% 0% no-repeat padding-box;
  border-radius: 29px;
  border: none;
}

.buttonContainer--newsletter{
  text-align: center;
  font: normal normal 900 14px/30px Nunito Sans;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}

:global(.vtex-store-components-3-x-newsletter){
  background-color: #4f32fe;
  max-width: none;
}

.container--menuRow{
  padding: 0;
}

.imageElement--socialNetwork{
  width: 23px;
  height: 23px;
  border: none;
}

.swiperPaginationClickable{
  margin-top:2em;
  position: relative;
  display: none;
}

.swiperBullet{
  margin: 0 1em !important;
}


@media only screen and (max-width: 768px){
  .productNameContainer--quickview{
    text-align: center;
  }
}

.productBrand{
  text-align: center;
  font: normal normal normal 18px/3px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.product-identifier--productReference{
  text-align: left;
  font: normal normal 600 12px/55px Nunito Sans;
  letter-spacing: 0px;
  color: #847B91;
  opacity: 1;
}


.shippingContainer :global(.vtex-button)::after{
  content:"OK";
  white-space: pre-wrap;
  border-bottom: 1px solid #E4DDEE;
  text-align: center;
  font: normal normal bold 12px/5px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}




.shippingContainer :global(.vtex-button__label){
  display: none;
}

.shippingContainer :global(.vtex-input-prefix__group){
  border: none;
  border-bottom: 1px solid #E4DDEE;
  border-radius: 0;
  height: 2rem;
  min-width: 22rem;
}

.shippingContainer :global(.vtex-input){
  min-width: 28.9rem;
}

.shippingContainer :global(.vtex-input)::before{
  content:"Calcule a entrega:";
  white-space: pre-wrap;
  text-align: center;
  font: normal normal bold 14px/43px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}


.shippingContainer :global(.vtex-input__label){
  display: none;
}
.shippingContainer :global(.vtex-button){
  width: auto;
  padding-top: 1.8rem;
}
@media only screen and (min-width: 768px){
  .shippingContainer :global(.vtex-input){
    display: flex;
  }

.shippingContainer :global(.vtex-button){
  width: auto;
  width: 1rem;
  height: 1rem;
  padding-top:.9rem;
  }
}



.productDescriptionTitle{
  text-align: center;
  font: normal normal bold 20px/35px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.productDescriptionText{
  text-align: center;
  font: normal normal normal 13px/30px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.figure{
  background: #f5f6f8;
  max-width: 5.4rem;
}

.carouselThumbBorder{
  mix-blend-mode: multiply;
}

.thumbImg{
  max-width: 5.4rem;
  max-height: 5.4rem;
}

.productImage{
  max-height: 32.1rem;
  max-width: 32.1rem;
}
.productImageTag--main{
  max-height: 32.1rem!important;
  max-width: 32.1rem;
}

.figure{
  margin: 0 auto 0 4rem;
}

.logoContainer{
  display:flex;
  padding: 0.75rem 0 0 0;
}

.productDescriptionContainer{
  max-width: 61rem;
}

.confirmationTitle{
  text-align: center;
  font: normal normal bold 24px/12px Nunito Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.confirmationText{
  text-align: center;
  font: normal normal normal 16px/12px Nunito Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}