.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0;
}

.flexRowContent--menu-link{
  gap: 4rem;
}

.flexColChild--col-menu:global(.vtex-menu-2-x-menuContainer){
 gap: 2.5rem;
}

.flexRow--main-header, .flexRow--menu-link{
  display: flex;
  justify-content: space-between;
  max-width: 78.75rem;
  margin: auto;
}


@media screen and (min-width: 40em) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 80rem) {

  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

@media screen and (max-width: 1026px) {
  .flexCol--deals {
    display: none;
  }

  .flexRowContent--deals :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    display: none;
  }
  .flexRowContent--deals :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child{
    display: flex;
    width: 100%!important;
  }
}

.flexRowContent--menu-link {
  background-color: #ffffff;
  color: #fff;
  align-items: center;
}

.flexRowContent--main-header {
  background-color: #ffffff;
  align-items: center;
  padding: .5rem 0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #ffffff;
  height: 55px;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}

.flexRow--deals {
  background-color: #4F32FE;
  padding: 14px 0px;
}

.flexRowContent--deals{
  max-width:78.75rem;
  margin: 0 auto;
}

.flexRow--deals .stretchChildrenWidth:last-child .flexCol {
  justify-content:flex-end;
}

.flexRow--deals .flexCol {
  align-items: center;
  flex-direction: row;
  
}
@media only screen and (max-width: 1026px){
.flexRow--deals .flexCol {
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
}

.flexRowContent--deals .flexColChild{
  display: flex;
  align-items:center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRowContent--searchBarMobile {
  max-height: 38px;
  background-color: #4F32FE;
}

.flexRow--searchBarMobile :global(.vtex-store-components-3-x-container) {
  padding-right: 0px;
  padding-left: 0px;
}

.flexRow--searchBarMobile :global(.vtex-input__suffix) {
  background: transparent;
  height: fit-content;
}

.flexRow--searchBarMobile :global(.vtex-input-prefix__group) {
  border: 0;
}

.flexCol--orderByMobileCol{
  border-bottom: 1px solid #e4ddee;
}

.flexCol--searchBar {
  justify-content: center;
  margin: 0 auto;
  max-width: initial !important;
}

.flexCol--loginCart {
  flex-direction: row;
  align-items: baseline;
  justify-content:flex-end;
}

.flexColChild--searchBarDesktop :global(.vtex-store-components-3-x-searchBarContainer) {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0;
}

.flexCol--searchBarDesktop :global(.vtex-input-prefix__group) {
  border: none;
  border-bottom: 1px solid #e4ddee;
  border-radius: 0;
}

.flexRow--linhaPreco {
  max-height: 10%;
}


@media screen and (max-width: 768px) {
  .flexRowContent--banners {
    display: grid;
    grid-template-columns: 180px 180px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    padding-top: 30px;
    padding-left: 1.25rem;
  }
}

@media only screen and (max-width:1026px){
  .flexRowContent--banners :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: 100%!important;
  }
}

.flexRow--banners{
  max-width: 81.75rem;
  margin: 0 auto;
  padding-top: 3rem;
}

.flexRowContent--banners{
  justify-content: center;
}

.flexRow--drones100 {
  padding-top: 3.5em;
  max-width: 78.75rem;
  margin: 0 auto;
}

.flexRow--payment-methods {
  padding: 0;
  background-color: #f6f5f8;
  flex-direction: column;
}

@media only screen and (max-width: 1026px){
.flexRow--badges1 {
  border-bottom: 1px solid #e4ddee;
  padding-bottom: 30px;
}
}

.flexRowContent--payment {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  justify-content: center;
  padding: 20px 0px;
}

.flexCol--payment-methods {
  flex-direction: column;
}


.flexRowContent--badges1 {
  display: grid;
  grid-template-columns: 80px 48px 67px;
  grid-column-gap: 10px;
  justify-content: center;
}
.flexRowContent--socialNetworks {
 width: 80%;
}

.flexRow--socialNetworks :global(.vtex-flex-layout-0-x-flexRow){
  border: none;
}

@media screen and (max-width: 1026px) {
  .flexRowContent--socialNetworks {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    width: 100%;
  }

  .flexRow--socialNetworks {
    padding-top: .5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e4ddee;
  }

   
}

.flexRowContent--avantiVTEX {
  display: grid;
  grid-template-columns: 91px 77px;
  justify-content: center;
}

.flexRowContent--payment-methods-desktop {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 1fr 1fr;
  justify-content: flex-start;
}

.flexRowContent--payment-methods-desktop :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  justify-content:flex-start;
}
@media only screen and (min-width: 1026px){
.flexRowContent--socialNetworks :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  justify-content:flex-start;
  width: 25%!important;
}}
@media only screen and (max-width: 1026px){
.flexRowContent--socialNetworks :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  justify-content:flex-start;
  width: 100%!important;
}}

.flexRow--menu-row {
  padding-bottom: 2em;
  border-bottom: 1px solid #e4ddee;
}

.flexRowContent--badgesDesktop {
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}



@media only screen and (max-width: 768px){
  .flexCol--infoProduct{
    text-align:center;
  }
  
  
  .flexColChild--infoProduct{
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px){
  .flexCol--infoProduct :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: auto;
  }

  .flexRow--previewButton :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    width: auto !important;
  }
}

.flexColChild--infoProduct :global(.vtex-store-components-3-x-shippingContainer){
  display: flex;
  flex-direction:row;
}
.flexColChild--infoProduct :global(.vtex-button){
 background:none;
 border: none;
}


@media only screen and (min-width:768px){
.flexRow--previewButton :global(.vtex-button){
  background: #4F32FE;
  border-color: #4F32FE;
  border-radius: 27px;
  min-width: 28.9rem;
  height: 53px;
  text-transform: none;
}
}

@media only screen and (max-width:768px){
.flexRow--previewButton :global(.vtex-button){
  background: #4F32FE;
  border-color: #4F32FE;
  border-radius: 27px;
  min-width: 23.7rem;
  height: 53px;
  text-transform: none;
}
}

.flexRow--shelf{
  max-width: 78.75rem;
  margin: 0 auto;
}


.flexRowContent--minicart-footer{
  background-color:#f6f5f8;
}

.flexRowContent--searchTitle, .flexRow--result{
  max-width: 78.75rem;
  margin: 0 auto;
}

.flexCol--orderByCol{
  align-items:flex-end;
  max-width:18.75rem;
}

.flexColChild--orderByCol{
  width: 100%;
}

.flexRowContent--numprodutos{
  justify-content: space-between;
}

.flexRowContent--numprodutos .stretchChildrenWidth:last-child{
  justify-content: flex-end;
}

.flexRowContent--productMinicart{
  border-bottom: 1px solid #f6f5f8;
  padding-bottom: 0;
}

.flexRowContent--breadcrumb-about-us{
  display: flex;
  gap: .75rem;
}
.flexRowContent--breadcrumb-about-us:first-child{
  align-items:center;
}

.flexRow--selecioneMenu{
  border-bottom: 1px solid #e4ddee;
}

.flexColChild--link-home :global(.vtex-store-link-0-x-link--link-home){
  text-align: left;
  font: normal normal normal 12px/31px Nunito Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  text-decoration: initial;
  border-right: 1px solid #e4ddee;
  padding-right: .75rem
}

.flexCol--menu-aboutUs{
  width: 30%!important;
}

.flexColChild--menu-aboutUs{
  height: initial!important;
}

@media only screen and (min-width:1026px){
.flexRow--breadcrumb-about-us{
  width:20%;
}
}

.flexRow--corpo-aboutUs{
  max-width: 78.75rem;
  margin: 0 auto;
}

.flexRowContent--corpo-aboutUs :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  justify-content:flex-start;
}

@media only screen and (min-width: 1026px){
.flexRowContent--breadcrumb-about-us :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  width: auto!important;
}
}

.flexColChild--menu-aboutUs :global(.vtex-menu-2-x-menuContainer){
  border-bottom: 1px solid #e4ddee;
  width: 15rem;
}

.flexRowContent--menu-row{
  max-width: 62rem;
  margin: 0 auto;
}

.flexRow--menu-row .stretchChildrenWidth:last-child .flexCol{
  justify-content:flex-start;
}

.flexColChild--colPagamentos, .flexColChild--colSocialNetworks{
  height: auto!important;
}

.flexRowContent--badges1{
  max-width: 15.5rem;
  margin: 0 auto;
}

.flexRow--drones100 :global(.vtex-store-components-3-x-container){
  padding: 0;
}

.flexRowContent--corpo-produto{
  max-width: 78.75rem;
  margin: 0 auto;
}